body {
    background: url('banf-canada2.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    font-family: 'Arial';
    height: 100vh;
    background-attachment: fixed;
    
}
/* menu container */
ul {
    margin: 0;
    padding: 0;
    list-style-type:none;
}

/* menu bar title */
li {
    float: right;
    height: 40px;
    width:150px ;
    background-color: rgba(0, 0, 0, 0.616);
    opacity: .8;
    line-height: 40px;
    text-align: center;
    font-size: 30px;    
}

a {
    text-decoration: none;
    font-weight: bold;
    color: red;
    display: block;
}
a:hover {
    background-color: rgba(245, 7, 7, 0.753);
    color: rgb(238, 234, 234);
    font-weight: bold;

}

/* submenu hover description */
.subMenu a:hover{
    color: rgb(0, 0, 0);
    background-color:rgba(255, 253, 253, 0.842)
}

/* exiting submenu action*/
ul li ul .subMenu {
    display: none;
}


ul li:hover ul .subMenu {
    display:block;
}
